$red: #fa5252;
$blue: #339af0;
$yellow: #fcc419;

@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}

.SassComponent {
  display: flex;

  .box {
    background: black;
    cursor: pointer;

    &.red {
      background: $red;
      @include square(1) 
    }
    &.blue {
      background: $blue;
      @include square(2) 
    }
    &.yellow {
      background: $yellow;
      @include square(3) 
    }
    &:hover {
      background: white;
    }
  }
}